# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.g.dart
*.freezed.dart

# Android
android/local.properties
android/.gradle/
android/key.properties
android/canarycoach-release.jks
android/**/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Archivos sensibles
serviceAccountKey.json.json
**/google-services.json

# Node
node_modules/

# IDE
.vscode/
*.iml
